body {
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #0b3c5d, #328cc1);
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    background: #ffffff;
    padding: 15px 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    min-width: 320px;
    max-width: 700px;
    margin-bottom: 35px;
    text-align: center;
}

.register-box {
     background-color: #1b263b;
     
     display: flex;
     flex-direction: column;
     padding: 40px 40px;
     border-radius: 10px;
     width: 400px;
     text-align: center;
     box-shadow: 0 0 20px #415a77;
     margin-top: 10vh
}
main {
    background: #ffffff;
    flex-direction: column;
    justify-content: center;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    min-width: 250px;
    max-width: 700px;
     align-items: center;
     text-align: center;
     box-shadow: 0 0 20px #415a77;
}
button {
width: 100%;
padding: 10px;
background-color: #1e90ff;
border: none;
border-radius: 5px;
font-weight: bold;
color: white;
cursor: pointer;
font-size: 16px;
}


form{
     display: flex;
flex-direction: column;
text-align: start;
}

label{
     font-size: small;

}
.register-box h2 {
     margin-bottom: 10px;
}
.register-box p {
     margin-top: 0;
     color: #a9bcd0;
}
input[type="text"],
input[type="password"],
input[type="email"] {
     width: 100%;
     padding: 10px;
     margin: 12px 0;
     border: none;
     border-radius: 5px;
     font-size: 14px;
}

a {
display: block;
margin-top: 15px;
font-size: 13px;
color: rgb(0, 0, 0);
text-decoration: none;
}
a:hover {
text-decoration: underline;
}

.info{
     font-weight: bolder;
     font-size: 18px;
     color:red;
}
.exito{
     font-weight: bolder;
     font-size: 18px;
     color:greenyellow;
}



