* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #0b3c5d, #328cc1);
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    background: #ffffff;
    padding: 15px 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    min-width: 320px;
    max-width: 700px;
    margin-bottom: 35px;
    text-align: center;
}
main {
     background-color: #1b263b;

    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    min-width: 320px;
    max-width: 700px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     box-shadow: 0 0 20px #415a77;
}
h1,h2 {
    text-align: center;
    color: #0b3c5d;
}

p {
    text-align: center;
    font-weight: 500;
    margin-bottom: 15px;
}

.login-box{
    background-color: white;
     display: flex;
     flex-direction: column;
     padding: 40px 40px;
     border-radius: 10px;
     text-align: center;
     box-shadow: 0 0 20px #415a77;

}

.header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
      margin-bottom:20px;
      width: 100%;
    }

    .header > div {
      flex: 1;
      text-align: center;
    }

    .left {
      text-align: left;
      
    }

    .right {
      text-align: right;
     
      
    }
    .iconos{
  width: 80px;
    height: 50px;
}
.iconos:hover{
  transform: scale(1.05);
  cursor: pointer;

}

form{
  background-color: white;
  display: flex;
  flex-direction: column;
}

input[type="text"], input[type="password"] {
width: 100%;
padding: 10px;
margin: 15px 0;
border: none;
border-radius: 5px;
font-size: 14px;
}
button {
padding: 10px;
background-color: #1e90ff;
border: none;
border-radius: 5px;
font-weight: bold;
color: white;
cursor: pointer;
font-size: 16px;
}
a {
display: block;
margin-top: 15px;
font-size: 13px;
color: rgb(0, 0, 0);
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
.crown {
font-size: 40px;
padding-top:0px;
margin-top:2px;
margin-bottom: 10px;
}

