/* ===========================
   ESTILO GENERAL
=========================== */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f3f6fb;
    font-family: Arial, sans-serif;
    margin: 0;
}



form {
    max-width: 900px;
    margin: auto;
    background: rgba(255,255,255,0.06);
    padding: 15px;
    border-radius: 14px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.40);
    border: 1px solid rgba(255,255,255,0.15);
    backdrop-filter: blur(6px);
}


label {
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.div-mismo_tipo {
    border: 2px solid rgba(255,255,255,0.25);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: 0.3s;
    background: rgba(255,255,255,0.06);
}

/* Efecto hover gamer */
.div-mismo_tipo:hover {
    box-shadow: 0 0 15px #51797c;
    border-color: #497074;
}

.div-form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

 
input[type="radio"] {
    transform: scale(1.5);
    accent-color: #48787c; 
} 

/* hover */
input[type="radio"]:hover {
    transform: scale(1.7);
}

.div-form input[type="radio"] + * {
    font-size: 1rem;
}


input[value="amarillo"] + * {
    color: #ffe600;
    font-weight: bold;
}

input[value="rojo"] + * {
    color: #ff4b4b;
    font-weight: bold;
}

input[value="verde"] + * {
    color: #5cff5c;
    font-weight: bold;
}

input[value="azul"] + * {
    color: #4db8ff;
    font-weight: bold;
}


hr {
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    margin: 20px 0;
}

@media (max-width: 600px) {
    .div-form {
        flex-direction: column;
        align-items: flex-start;
    }

    input[type="radio"] {
        transform: scale(1.3);
    }
}
button {
    width: 100%;
    padding: 12px 18px;
    margin-top: 15px;

    background: linear-gradient(135deg, #0f3d66, #13599e, #1b7fcc);
    border: 2px solid rgba(255, 255, 255, 0.829);
    border-radius: 10px;

    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.05rem;
    letter-spacing: 0.5px;

    box-shadow: 0 0 18px rgba(0, 140, 255, 0.25);
    backdrop-filter: blur(5px);
    transition: 0.25s ease-in-out;
}

/* Hover con brillo gamer */
button:hover {
    background: linear-gradient(135deg, #1874c4, #1a8df9);
    box-shadow: 0 0 25px #1a8df9;
    transform: translateY(-2px);
}

/* Efecto al presionar */
button:active {
    transform: scale(0.97);
    box-shadow: 0 0 12px #1a8df9;
}
