body {
background: #152e4a;
background: radial-gradient(circle, rgba(21, 46, 74, 1) 0%, rgba(13, 27, 42, 1) 35%, rgba(15, 51, 87, 1) 100%);
color: white;
font-family: Arial, sans-serif;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
margin: 0;
flex-direction: column;
}
h1 {
  margin: 20px 0 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 50px;
      font-weight: bold;
      background: linear-gradient(360deg, #42d392, #647eff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
}

.header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
      margin-bottom:20px;
      width: 100%;
    }

    .header > div {
      flex: 1;
      text-align: center;
    }

    .left {
      text-align: left;
      
    }

    .right {
      text-align: right;
     
      
    }
    .iconos{
  width: 80px;
    height: 50px;
}
.iconos:hover{
  transform: scale(1.05);
  cursor: pointer;

}
/**/
.login-box {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;;
background-color: #1b263b;
border-radius: 10px;
padding:0 40px 40px 40px;
width: 300px;
height: 350px;
margin-top:2px;
text-align: center;
box-shadow: 0 0 20px #415a77;
}

.login-box h2 {
margin-bottom: 10px;
}
.login-box p {
margin-top: 0;
color: #a9bcd0;
}
input[type="text"], input[type="password"] {
width: 100%;
padding: 10px;
margin: 15px 0;
border: none;
border-radius: 5px;
font-size: 14px;
}
button {
width: 100%;
padding: 10px;
background-color: #1e90ff;
border: none;
border-radius: 5px;
font-weight: bold;
color: white;
cursor: pointer;
font-size: 16px;
}
a {
display: block;
margin-top: 15px;
font-size: 13px;
color: #a9bcd0;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
.crown {
font-size: 40px;
padding-top:0px;
margin-top:2px;
margin-bottom: 10px;
}

.logins{
display:flex;
flex-direction: row;
gap:20px;
margin-bottom: 15px;
}

.logueado1{
     display:none;
}
.logueado2{
     display:none;
}

.register-box {
     display: none;
     background-color: #1b263b;
     border-radius: 10px;
     padding: 40px;
     width: 320px;
     text-align: center;
     box-shadow: 0 0 20px #415a77;
}
.register-box h2 {
     margin-bottom: 10px;
}
.register-box p {
     margin-top: 0;
     color: #a9bcd0;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"] {
     width: 100%;
     padding: 10px;
     margin: 12px 0;
     border: none;
     border-radius: 5px;
     font-size: 14px;
}

.btnLobby{
     margin-top:10px;
     padding:10px;
     width: 40%;
}
.info{
     font-weight: bolder;
     font-size: 18px;
     color:red;
}