body{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     flex-direction: column;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 0;
    margin-top: 20px;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.tablero_enemigo {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(10, 20px);
    gap: 0;
    margin-top: 20px;
}

.cell_enemigo {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.contenedor_tableros {
    display: flex;
    flex-direction: row;
    gap: 90px; /* Espacio entre los dos tableros */
}