* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #0b3c5d, #328cc1);
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    background: #ffffff;
    padding: 15px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    min-width: 320px;
    max-width: 700px;
    margin-bottom: 35px;
    text-align: center;
}
main {
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    min-width: 320px;
    max-width: 700px;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0b3c5d;
}

p {
    text-align: center;
    margin-bottom: 15px;
}



button {
    border: none;
    padding: 10px 18px;
    margin: 5px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.95rem;
    transition: background 0.2s ease, transform 0.1s ease;
    background-color: #2ecc71;
    color: #ffffff;

}

button:hover {
    transform: translateY(-1px);
    filter: brightness(0.95);
}

form {
    text-align: center;
    flex-direction: column;
}

/* Responsive: en pantallas chicas, que no quede pegado a los bordes */
@media (max-width: 600px) {
    main {
        margin: 10px;
        padding: 20px;
    }

   
}
